# ASP.NET Core
bin/
obj/
*.user
*.vspscc
*.vssscc
.vscode/
*.db
*.suo
*.userosscache
*.sln.docstates
.vs/

# Angular
/node_modules/
/dist/
/.angular/

# Docker
*.env
docker-compose.override.yml

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
